@use "sass:math";
@import "_mixins.scss";
@import '_reset.scss';
@import '_common.scss';
@import '_header.scss';
@import '_footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

[class*="__container"] {
	max-width: 1470px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.wrapper {
    overflow: clip;
    min-height : 100%;
    display: flex;
    flex-direction: column;
} 

.wrapper > main {
    flex: 1 1 auto;
}

body {
    color: #212529;
    font-size: rem(18);
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.5625;
}

.title {
    font-size: rem(25);
    font-weight: 700;
    line-height: 1.6;
}

.page__content {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    padding-top: rem(20);
    margin: 0 0 rem(50) 0;
}

.content__text {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px dashed  #0d59a4;
    border-radius: 25%;
    padding: rem(10) 0;
}

.main-title {
    max-width: rem(1240);
}

.content__articles {
    display: flex;
    flex-direction: column;
    gap: rem(50);
}

.article__block {
    display: flex;
    flex-direction: column;
    gap: rem(15);
    border: 3px solid #C4C4C4;
    padding: rem(15) 0;
}

.block__title {
    display: flex;
    justify-content: center;
}

.block__link {
    max-width: rem(650);
    transition: color 0.3s;
}

.block__link:hover {
    color:blue;
}

.block__description  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 rem(20);
    text-align: center;
}

.b2 {
    border: 3px solid #b22929;
}

.b3 {
    border: 3px solid #2e366d;
}

.b4 {
    border: 3px solid #56b41c;
}

.b5 {
    border: 3px solid #294bb2;
}

.b6 {
    border: 3px solid #9f2372;
}

.b7 {
    border: 3px solid #2c2838;
}

.b8 {
    border: 3px solid #07e66f;
}

.b9 {
    border: 3px solid #07ebf3;
}

.b10 {
    border: 3px solid #fd1490;
}

.b11 {
    border: 3px solid #088f4b;
}

.b12 {
    border: 3px solid #e54d1a;
}

















































































































