@import url('reset.css');
@import url('common.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.wrapper {
    overflow: clip;
    min-height : 100%;
    display: flex;
    flex-direction: column;
} 

.wrapper > main {
    flex: 1 1 auto;
}

.content__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text__title {
    color: black;
    font-size: 56px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 40px 0;
}

.text__sub-title {
    color: black;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    margin: 0 0 53px 0;
}

.portfolio__text {
    display: flex;
    gap: 56px;
}

.project__title,.design__title {
    margin: 0 0 24px 0;
}

.info__items {
    display: flex;
    gap: 80px;
    margin: 0 0 81px 0;
}

.portfolio__picture {
    display: flex;
    justify-content: center;
    margin: 0 0 100px 0;
}

.portfolio__picture img {
    max-width: 100%;
}

.design__info :first-child {
    margin: 0 0 30px 0;
}

.info__description {
    margin: 0 0 60px 0;
    flex: 0 1 auto;
}

.portfolio__design-process {
    margin: 0 0 32px 0;
}


.portfolio__example {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    gap: 32px;
}

.example__block-1 img {
    max-width: 100%;
}

.example__block-2 img {
    max-width: 100%;
}

.example__block-3 img {
    max-width: 100%;
}

.example__block-3 a:nth-child(2),.example__block-1 a:nth-child(2) {
    margin: 0 0 0 32px;
}

/*  */
.example__block-3 img {
    margin: 0 0 90px 0;
}
/*  */

.content__achievement {
    display: flex;
    gap: 26px;
    margin: 0 0 40px 0;
}

.achievement__title {
    color: black;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.5;
}

.achievement__line {
    width: 464px;
    height: 0;
    border: 2px black solid;
    align-self: center;
}

.content__page {
    display: flex;
    gap: 120px;
}

.content__page img {
    max-width: 100%;
}

.page__title {
    margin: 0 0 20px 0;
}

.page__info {
    align-self: center;
}

.content__data {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 495px) {
    .portfolio__text {
        flex-direction: column;
        gap: 30px;
    }
    .info__items {
        margin: 0;
    }
    .info__description {
        margin: 0 0 30px 0;
    }
}

@media (max-width: 1130px) {
    .content__page  {
        gap: 40px;
    }
}

@media (max-width: 1001px) {
    .content__page  {
        gap: 25px;
    }
}

@media (max-width: 1231px) {
    .portfolio__picture img {
        /* width: 991px; */
        margin: 0 0 -50px 0;
    }
}

/* @media (max-width: 1021px) {
    .portfolio__picture img {
        width: 767px;
    }
} */

@media (max-width: 797px) {
    /* .portfolio__picture img {
        width: 620px;
    } */
    .title {
        font-size: 20px;
    }
    .design__info,.project__info {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .portfolio__picture img {
        /* width: 425px; */
        margin: 0 0 -75px 0;
    }
}
/* 
@media (max-width: 455px) {
    .portfolio__picture img {
        width: 375px;
    }
}

@media (max-width: 425px) {
    .portfolio__picture img {
        max-width: 100%;
    }
} */

/* [class*="__block img"] {
    max-width: 100%;
} */

@media (max-width: 1240px) {
    .portfolio__example div {
        display: flex;
        flex-direction: column;
    }
    .example__block-3 a:nth-child(2),.example__block-1 a:nth-child(2) {
        margin: 0;
    }
    .example__block-1:first-child {
        gap: 32px;
    }
    .example__block-3:last-child {
        gap: 32px;
        margin: 0 0 60px 0;
    }
    .example__block-3 img {
        margin: 0;
    }
}    

@media (max-width: 820px) {
    .page__title {
        font-size: 20px;
    }
    .info__text {
        font-size: 14px;
    }
}

@media (max-width: 660px) {
    .page__title {
        font-size: 15px;
    }
    .info__text {
        font-size: 11px;
    }
}

@media (max-width: 585px) {
    .content__data div {
        display: flex;
        flex-direction: column;
    }
    .page__title {
        font-size: 18px;
    }
    .info__text {
        font-size: 14px;
    }
}
