@use "sass:math";
@import "_mixins.scss";
@import '_reset.scss';
@import '_common.scss';
@import '_header.scss';
@import '_footer.scss';


[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.wrapper {
    overflow: clip;
    min-height : 100%;
    display: flex;
    flex-direction: column;
} 

.wrapper > main {
    flex: 1 1 auto;
}

.page__content {
    min-height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: rem(15);
}

.content__video iframe {
    width: rem(360);
    height: rem(200);
}

.page__background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.page__background-image img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

























































































































