@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

footer {
    background: #212529;
}

.footer__container {
    color: rgba(248, 249, 250, 0.50);
    padding: 50px 0;
}

.footer__build {
    display: flex;
    justify-content: space-between;
    margin: 0 0 32px 0;
}

.footer__logo {
    color: #F8F9FA;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.38;  /* 25/18 */
}

.footer__list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.footer__list li {
    color: rgba(248, 249, 250, 0.50);
}

.footer__line {
    border: 1px rgba(229, 229, 229, 0.20) solid;
    height: 1px;
    max-width: 100%;
    margin: 0 0 40px 0;
}

.footer__info {
    display: flex;
    justify-content: space-between;
}

.footer__link {
    transition: color 0.4s;
}

.footer__link:hover {
    color: #F8F9FA;
}

@media (max-width:410px) {
    .footer__info {
        gap: 10px;
        flex-wrap: wrap;
    }
    .footer__build {
        gap: 10px;
        flex-direction: column;
    }
}

@media (max-width:767.98px) {
    .footer__container {
        padding: 50px 0;
    }
}