@import '_reset.scss';
@import '_common.scss';
@import '_header.scss';
@import '_footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


[class*="__container"] {
	max-width: 1250px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.wrapper {
    overflow: clip;
    min-height : 100%;
    display: flex;
    flex-direction: column;
} 

.wrapper > main {
    flex: 1 1 auto;
}

.contact__container {
    margin: 130px auto 70px;
    @media (max-width:767.98px) {
        margin: 80px auto 60px;
    }
}

.contact__content {
    display: flex;
    justify-content: center;
    column-gap: 130px;
    @media (max-width:1112px) {
        column-gap: 70px;
    }
    @media (max-width:945px) {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}

.content__left-side {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width:530px) {
        gap: 20px;
    }
}

.text__contact {
    color: #3056D3;
    font-weight: 600;
    line-height: 1.25;
    margin: 0 0 12px 0;
}

.text__title {
    color: #212B36;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.125;
    margin: 0 0 33px 0;
    @media (max-width:530px) {
        font-size: 30px;
        margin: 0 0 10px 0;
    }
    @media (max-width:500px) {
        
    }
}

.text__description {
    line-height: 1.6875;
    @media (max-width:1112px) {
        br {
            display: none;
        }
    }
    @media (max-width:945px) {
        br {
            display: block;
        }
    }
    @media (max-width:520px) {
        br {
            display: none;
        }
    }
}

.left-side__info {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.info__block {
    display: flex;
    column-gap: 24px;
}

.details__title {
    color: black;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.35;
}

.content__right-side {
    display: flex;
    flex-direction: column;
}

.right-side__form {
    background: white; 
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.07); 
    border-radius: 8px;
    max-width: 470px;
    @media (max-width:500px) {
        max-width: 370px;
    }
    @media (max-width:400px) {
        max-width: 320px;
    }
    @media (max-width:340px) {
        width: 300px;
    }
}

.people__information {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px;
    @media (max-width:400px) {
        padding: 20px;
    }
    @media (max-width:340px) {
        padding: 15px;
    }
}

.form__title {
    color: black;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.25;
}

.information__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block__label {
    font-size: 13px;
    line-height: 1.53;
}

.block__input {
    display: flex;
    color: #637381;
    font-size: 15px;
    line-height: 1.33;
    background: white; 
    border-radius: 5px; 
    border: 1px #F0F0F0 solid;
    width: 370px;
    padding: 0 0 0 15px;
    height: 50px;
    color: black;
    @media (max-width:500px) {
        width: 270px;
    }
    @media (max-width:340px) {

    }
}

.information__area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 25px 0;
}

.area__label {
    font-size: 13px;
    line-height: 1.53;
}

.area__message {
    padding: 25px 25px 0 25px;
    max-height: 130px;
    color: black;
    resize: vertical;
    background: white; 
    border-radius: 5px; 
    border: 1px #F0F0F0 solid;
}

.form__butt {
    background: #3056D3; 
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.25;
    padding: 15px 0;
    transition: all 0.4s;
}

.form__butt:hover {
    transform: scale(1.08);
}























