header {
    position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
    background: #fff;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 101px;
}

.header__logo {
    color: #495057;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.38;
}

.header__logo::after {
	content: ".";
	color: #ddbea9;
}

.list__item a {
    color: rgba(73, 80, 87, 0.50);
    line-height: 2.08;
    position: relative;
}

.header__list {
    flex: 1 1 auto;
    flex-wrap: wrap;
	justify-content: flex-end;
	display: flex;
	align-items: center;
    column-gap: 25px;
	row-gap: 3px;
}

.list__link.active {
    color: #495057;
}

.list__link.active::before {
    width: 100%;
	left: 0;
}

.list__link::before {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 2px;
	width: 0;
	border-radius: 2px;
	background-color: #ddbea9;
    transition: width 0.3s, left 0.3s;
}

.list__item:hover .list__link::before {
    width: 100%;
}

.list__link {
    transition: color 0.4s;
    position: relative;
}

.list__link:hover {
    color: #495057;
}

.list__item_parent {
    position: relative;
    padding-right: 13px;
}

.list__item_parent .list__link::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -13px;
    width: 8px;
    height: 5px;
    background: url("../img/icons/Vector.svg") no-repeat ;
}

@media (max-width:1281px) {
    .header__container {
        min-height: 70px;
    }
}

@media (max-width:420px) {
    .header__container {
        max-height: 50px;
    }
}


/*  */


.header__link {
    transition: color 0.4s;
}

.header__link:hover {
    color: #495057;
}

.header__info {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header__icon-search img {
    padding: 6px 0 0 0;
}

.header__search {
    position: relative;
}

.header__icon-search::before {
    content: "";
    position: absolute;
    right: 32px;
    border: 1px #E5E5E5 solid;
    width: 1px;
    height: 25px;
}


/*  */

.menu-icon {
	position: absolute;
}

@media (max-width: 767.98px) {
	.header__list {
		flex-direction: column;
		row-gap: 20px;
	}
	.header__link, .list__link {
		font-size: 20px;
		color: #fff;
	}
    .header__icon-search::before {
        visibility: hidden;
    }
    .header__icon-search img {
        padding: 0 0 0 0;
        margin: 0 10px 0 0;
        height: 25px;
        flex: 0 0 22px;
    }
	.menu-icon {
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
        right: 30px;
	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span {
		content: "";
		position: absolute;
		height: 1px;
		left: 0;
		width: 100%;
		background-color: #000000;
		transition: all 0.3s;
	}
	.menu-icon::before {
		top: 0;
	}
	.menu-icon::after {
		bottom: 0;
	}
	.menu-icon span {
		top: 50%;
		margin-top: -0.5px;
	}
    .header__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		background-color: #212529;
		padding: 70px 15px 20px 15px;
		transition: left 0.3s;
	}
	.header__body::before {
		content: "";
		height: 50px;
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #15171a;
		z-index: 1;
		transition: left 0.3s;
	}
    .header__lang {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		background-color: #212529;
		padding: 70px 15px 20px 15px;
		transition: left 0.3s;
	}
	.header__lang::before {
		content: "";
		height: 50px;
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #15171a;
		z-index: 1;
		transition: left 0.3s;
	}
    .header__button {
        position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		background-color: #212529;
		padding: 70px 15px 20px 15px;
		transition: left 0.3s;
    }
    .header__button::before {
        content: "";
		height: 50px;
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #15171a;
		z-index: 1;
		transition: left 0.3s;
    }
}

/*  */