@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  color: #637381;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.375;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  background: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 101px;
}

.header__logo {
  color: #495057;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.38;
}

.header__logo::after {
  content: ".";
  color: #ddbea9;
}

.list__item a {
  color: rgba(73, 80, 87, 0.5);
  line-height: 2.08;
  position: relative;
}

.header__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  row-gap: 3px;
}

.list__link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0;
  border-radius: 2px;
  background-color: #ddbea9;
  -webkit-transition: width 0.3s, left 0.3s;
  transition: width 0.3s, left 0.3s;
}

.list__item:hover .list__link::before {
  width: 100%;
}

.list__link {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  position: relative;
}

.list__link:hover {
  color: #495057;
}

.list__item_parent {
  position: relative;
  padding-right: 13px;
}

.list__item_parent .list__link::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -13px;
  width: 8px;
  height: 5px;
  background: url("../img/icons/Vector.svg") no-repeat;
}

@media (max-width: 1281px) {
  .header__container {
    min-height: 70px;
  }
}
@media (max-width: 420px) {
  .header__container {
    max-height: 50px;
  }
}
/*  */
.header__link {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.header__link:hover {
  color: #495057;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon-search img {
  padding: 6px 0 0 0;
}

.header__search {
  position: relative;
}

.header__icon-search::before {
  content: "";
  position: absolute;
  right: 32px;
  border: 1px #E5E5E5 solid;
  width: 1px;
  height: 25px;
}

/*  */
.menu-icon {
  position: absolute;
}

@media (max-width: 767.98px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .header__link, .list__link {
    font-size: 20px;
    color: #fff;
  }
  .header__icon-search::before {
    visibility: hidden;
  }
  .header__icon-search img {
    padding: 0 0 0 0;
    margin: 0 10px 0 0;
    height: 25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22px;
            flex: 0 0 22px;
  }
  .menu-icon {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    right: 30px;
  }
  .menu-icon::before,
  .menu-icon::after,
  .menu-icon span {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    width: 100%;
    background-color: #000000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-icon::before {
    top: 0;
  }
  .menu-icon::after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    margin-top: -0.5px;
  }
  .header__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #212529;
    padding: 70px 15px 20px 15px;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .header__body::before {
    content: "";
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #15171a;
    z-index: 1;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .header__lang {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #212529;
    padding: 70px 15px 20px 15px;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .header__lang::before {
    content: "";
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #15171a;
    z-index: 1;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .header__button {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #212529;
    padding: 70px 15px 20px 15px;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .header__button::before {
    content: "";
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #15171a;
    z-index: 1;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
}
/*  */
footer {
  background: #212529;
}

.footer__container {
  color: rgba(248, 249, 250, 0.5);
  padding: 50px 0;
}

.footer__build {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 32px 0;
}

.footer__logo {
  color: #F8F9FA;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.38; /* 25/18 */
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list li {
  color: rgba(248, 249, 250, 0.5);
}

.footer__line {
  border: 1px rgba(229, 229, 229, 0.2) solid;
  height: 1px;
  max-width: 100%;
  margin: 0 0 40px 0;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.footer__link:hover {
  color: #F8F9FA;
}

@media (max-width: 410px) {
  .footer__info {
    gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__build {
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .footer__container {
    padding: 50px 0;
  }
}
[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #F7F8FA;
}

.sign__container {
  margin: 120px auto;
}

.sign__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  -webkit-box-shadow: 0px 1px 55px -11px rgba(0, 0, 0, 0.01);
          box-shadow: 0px 1px 55px -11px rgba(0, 0, 0, 0.01);
  border-radius: 8px;
  width: 525px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 525px;
          flex: 0 1 525px;
  padding: 0 62px;
}
@media (max-width: 550px) {
  .content__block {
    width: 425px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 425px;
            flex: 0 1 425px;
  }
}
@media (max-width: 440px) {
  .content__block {
    width: 325px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 325px;
            flex: 0 1 325px;
  }
}
@media (max-width: 340px) {
  .content__block {
    width: 300px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
  }
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.information__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin: 0 0 25px 0;
}

.block__image-dec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  top: -20px;
  right: -82px;
}

.block__title {
  color: #212B36;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 40px 0;
}
@media (max-width: 767.98px) {
  .block__title {
    margin: 0 0 20px 0;
  }
}

.block__label {
  color: #ACB6BE;
  font-size: 15px;
  line-height: 1.46;
}

.block__input {
  color: black;
  font-size: 15px;
  line-height: 1.46;
  max-width: 400px;
  background: #FCFDFE;
  border-radius: 6px;
  border: 1px #E9EDF4 solid;
  height: 48px;
  padding: 0 15px 0 15px;
}

.information__butt {
  background: #3056D3;
  border-radius: 6px;
  padding: 13px 0;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin: 0 0 40px 0;
}

.information__butt:hover {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}

.block__connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ADADAD;
  margin: 0 0 25px 0;
}

.block__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin: 0 0 52px 0;
}
@media (max-width: 440px) {
  .block__social {
    gap: 5px;
    margin: 0 0 22px 0;
  }
}

.social__link {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.social__link:hover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

@media (max-width: 550px) {
  .social__link img {
    width: 85px;
  }
}
@media (max-width: 440px) {
  .social__link img {
    width: 65px;
  }
}
@media (max-width: 340px) {
  .social__link img {
    width: 55px;
  }
}

.block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
@media (max-width: 441px) {
  .block__text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.text__forget {
  color: #ADADAD;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.text__forget:hover {
  color: #3056D3;
}

.text__member {
  color: #ADADAD;
  margin: 0 0 20px 0;
}
@media (max-width: 440px) {
  .text__member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sign-in {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.sign-in:hover {
  color: #3056D3;
}